<div class="navbar navbar-static-top">
	<div class="navbar-inner">
    	<a class="brand" href="#"></a>
    	<ul class="nav" data-state="task-list">
    		<li><a href="#" data-action="add-task"><i class="icon-plus"/> Add Task</a></li>
    	</ul>
    	<ul class="nav" data-state="task-details">
    		<li><a href="#" data-action="edit-task"><i class="icon-edit"/> Edit</a></li>
    	</ul>
    	<ul class="nav pull-right">
    		<li><a href="#" id="add-user"><i class="icon-plus"/> Create User</a></li>
    		<li><a href="#" id="edit-user"><i class="icon-cog"/> Edit User Details</a></li>
    	</ul>
    </div>
</div>
<div id="body-container"></div>