<div class="container-fluid	">
	<div class="row-fluid">
		<div class="span4 offset4">
			<h2>Create User</h2>
			<form id="user-form" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="email">E-Mail</label>
					<div class="controls">
						<input type="email" id="email" />
					</div>
				</div>
			
				<div class="control-group">
					<label class="control-label" for="firstName">First Name</label>
					<div class="controls">
						<input type="text" id="firstName" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="lastName">Last Name</label>
					<div class="controls">
						<input type="text" id="lastName" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" id="password" />
					</div>
				</div>
				
				<div class="form-actions">
					<button type="button" id="save-button" class="btn btn-info">Save</button>
					<button type="button" id="cancel-button" class="btn">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>