<form id="task-form" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
			<input type="text" id="title" required="required" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<textarea id="description" rows="4" /></textarea>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="priority">Task Priority</label>
		<div class="controls">
			<select id="priority">
				<% _.each(priorities, function(priority){ %>
					<option value="<%= priority %>">
						<%= priority %>
					</option>
				<% }); %>
			</select>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="button" id="save-button" class="btn btn-info">Save</button>
		<button type="button" id="cancel-button" class="btn">Cancel</button>
	</div>
</form>